/*== General ==*/
a {
	color: black;
	text-decoration: none;
}

body {
	background : black;
	height : 100%;
	min-height: 600px;
	overflow: hidden;
	width : 100%;
}

#container {
	height : 768px;
	background: url("../resources/images/login.jpg") no-repeat center center fixed;
	width : 100%;
}

#main {
	display : block;
	margin : 0 auto;
	position : relative;
	width : 762px;
}

#main div {
	float : left;
}

.login {
	display : block;
	height : 100%;
	position : relative;
}

.login .upper {
	height : 150px;
}

.login .upper .register{
	padding : 10px 0 0 0;
	width : 612px;
}

.login .upper .register input{
	border-radius : 5px;
	margin : 0 3px;
}

.login .upper .register input[type="text"], .login .upper .register input[type="password"]{
	padding-left : 10px;
	width : 150px;
}

.login .upper .register input[type="submit"]{
	background-color : transparent;
	border-color : transparent;
	color : rgba(0,0,0,0);
}

#loginButton{
	background : url("../resources/images/ok.png") no-repeat;	
}

#registerButton{
	background : url("../resources/images/registre.png") no-repeat;		
}
 

.login .upper .register a{
	color : rgb(233, 152, 0);
	font-size : 10px;
	margin : 0 0 0 190px;
}


.upper .facebookRegister {
	height : 100%;
	padding: 0;
	width : 150px;
}

.fb-login-button{
	margin : 10px 0 10px 35px;
}

.fb-like{
	margin-left : 50px;
}

.loginMenu {
	background-color : orange;
	height : 50px;
	width : 100%;
}

.loginMenu img{
	margin-top : -100px;
	float : left;
}

.loginMenu div.menuItem {
	background-image : url("../resources/images/menuItem.jpg");
	cursor : pointer;
	height : 40px;
	margin : 5px 15px;
	text-align: center;
	line-height: 40px;
	width : 100px;
}

.loginMenu div:hover a{
	text-shadow : black 2px 2px 2px;
}

.loginMenu a {
	color: white;
	font-weight: bold; 
}

/*== Guerrômetro ==*/

.guerrometro {
	height : 78px;
	margin : 2px 0 0 23px;
	width : 714px;
}

.guerrometro .ir{
	border : 0;
	height : 77px;
	margin : 0;
	padding : 0;
	width : 138px;
}

#orcGuerr {
	background-image : url('../resources/images/orcs.png');
}

#humGuerr {
	background-image : url('../resources/images/humanos.png');
}

#barraGuerr{
	margin-top : 58px;
}

#barraGuerr, #barraGuerr .ir{
	height : 19px;
	width: 438px;
}

#barraGuerr .ir{
	position : absolute;
	background-image : url('../resources/images/guerrometro.png');
}

#barraGuerr .raceBar{
	height : 15px;
	margin-top : 2px;
}

#humanBar{
	background : #d90000 url('../resources/images/guerrBarHuman.png') repeat right top;
}

#orcBar{
	background : #00d519 url('../resources/images/guerrBarOrc.png') repeat right top;
}


