/*== General ==*/
a {
	color: black;
	text-decoration: none;
}

#container {
	background-image : url("../resources/images/login.jpg");
}

#main {
	//background-color : red;
	height : 768px;
	margin : 0 auto;
	position : relative;
	width : 900px;
}

.login {
	display : block;
	height : 100%;
	position : relative;
}

.login .upper {
	height : 190px;
}

.login .upper img{
	float : left;
	margin : 0 20px 0 0;
}

.login .upper .register{
	padding : 10px 0 0 0;
}

.login .upper .register input{
	border-radius : 5px;
	margin : 0 3px;
}

.login .upper .register input[type="text"], .login .upper .register input[type="password"]{
	padding-left : 10px;
	width : 150px;
}


.login .upper .register a{
	font-size : 10px;
	margin : 0 0 0 200px;
}


.upper .facebookRegister {
	//background-color : green;
	float: right;
	height : 100%;
	padding: 0;
	width : 150px;
}

.fb-login-button{
	margin : 10px 0 10px 35px;
}

.fb-like{
	margin-left : 50px;
}

.login .content {
	background-color: gray;
	height : 100%;
}

.loginMenu {
	background-color : orange;
	height : 50px;
	width : 100%;
}

.loginMenu div {
	background-image : url("../resources/images/menuItem.jpg");
	cursor : pointer;
	float : left;
	height : 40px;
	margin : 10px 15px;
	text-align: center;
	line-height: 40px;
	width : 150px;
}

.loginMenu div:hover a{
	text-shadow : black 2px 2px 2px;
}

.loginMenu a {
	color: white;
	font-weight: bold; 
}
