#container {
	background-image : url("../resources/images/login.jpg");
}

#main {
	background-color : red;
	height : 768px;
	margin : 0 auto;
	position : relative;
	width : 900px;
}

.login {
	display : block;
	height : 100%;
	position : relative;
}

.login .upper {
	height : 190px;
}

.login .upper img{
	float : left;
	margin : 0 20px 0 0;
}

.login .upper .register{
	padding : 10px 0 0 0;
}

.login .upper .register input{
	border-radius : 5px;
	margin : 0 3px;
}

.login .upper .register a{
	font-size : 10px;
	margin : 0 0 0 200px;
}


.upper .facebookRegister {
	background-color : green;
	float: right;
	height : 100%;
	padding: 0;
	width : 150px;
}

.fb-login-button{
	margin : 10px 0 10px 35px;
}

.fb-like{
	margin-left : 50px;
}

.login .content {
	background-color: gray;
	height : 100%;
}

.loginMenu {
	background-color : orange;
	height : 50px;
	width : 100%;
}

.loginMenu a {
	background-image : url("../resources/images/menu.png");
	float : left;
	height : 40px;
	margin : 0 15px 0 15px;
	width : 150px;
}

